
:root {
  --primary-color: #548c82;
  --primary-hover: #3d6f68;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.top-bar .redes {
  background-color: #0d2b5b;
  position: relative;
}

.top-bar .contacto {
  background-color: #2680F9;
  padding-left: 30px; 
}

.top-bar .redes::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 40px solid transparent;
  border-right: 40px solid #2680F9;
}

.navbar {
  background-color: white;
}

.navbar-nav .nav-link {
  color: #000;
  margin-right: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.btn-login {
  color: #060143 !important;
  font-weight: bold;
}

.carousel-caption {
  bottom: 20%;
}

.btn-yellow {
  background-color: #060143;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 220px;      
  display: block;      
  margin: 20px auto;   
  border-radius: 8px;  
}


.btn-yellow:hover {
  background-color: #C298FC;
}

.custom-navbar {
  background-color: white;
  overflow: hidden;
  height: 60px; 
  padding-left: 0;
}

.color-corner {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: linear-gradient(114deg, #2AD297 90%, white 8%);   
}

.footer {
    background-color: #52B221;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
    
.footer-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.foter a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

.form-container {
  max-width: 500px;
  margin: auto;
}

.form-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

